WPF_EF_DESIGN/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteBag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBag" nillable="true" type="tns:ClienteBag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBag" nillable="true" type="tns:ArrayOfClienteBag" />
  <xs:complexType name="ClienteBag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contatos" nillable="true" type="tns:ArrayOfContatoBag" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Obs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBag" nillable="true" type="tns:ClienteBag" />
  <xs:complexType name="ArrayOfContatoBag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContatoBag" nillable="true" type="tns:ContatoBag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContatoBag" nillable="true" type="tns:ArrayOfContatoBag" />
  <xs:complexType name="ContatoBag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContatoBag" nillable="true" type="tns:ContatoBag" />
</xs:schema>