Mvc_Wcf/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31998/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" />
  <xs:element name="CreateClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="cliObj" nillable="true" type="q1:ClienteBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClientByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClientByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="SearchClientByIDResult" nillable="true" type="q2:ClienteBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="SearchClientResult" nillable="true" type="q3:ArrayOfClienteBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="cliObj" nillable="true" type="q4:ClienteBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="cliObj" nillable="true" type="q5:ClienteBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="CreateContactResult" nillable="true" type="q6:ContatoBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="cliObj" nillable="true" type="q7:ClienteBag" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="conObj" nillable="true" type="q8:ContatoBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="cliObj" nillable="true" type="q9:ClienteBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wcf_Exemplo.DTO" minOccurs="0" name="SearchContactResult" nillable="true" type="q10:ArrayOfContatoBag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>